@model SalesViewModel
@section Title{
    <div class="row">
        <div class="col-7"><h3>Cashier's Console</h3></div>
        <div class="col-2"><label for="cashier">Cashier Name:</label></div>
        <div class="col-3">
            @* Display Cashiers Name here *@
        </div>
    </div>
}

<div class="row">
    <div class="col-4">
        @*Category Selection*@
        <select asp-for="SelectedCategoryId" class="form-control">
            <option id="pleaseSelect">-- Please Select --</option>
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <br/>
        <div id="productsPartial">
            @*Product List*@
        </div>
        <br/>
        <div id="productDetailsPartial">
            @*Product Details*@
        </div>
        <form method="post" asp-controller="sales" asp-action="sell" id="formSale">
            <input asp-for="SelectedProductId" type="hidden" />
            <div class="form-group">
                <label asp-for="QuantityToSell"></label>
                <input asp-for="QuantityToSell" class="form-control" type="number" min="1" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
    </div>
    <div class="col">
        @*List of transactions *@
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#formSale").hide();
            $("#QuantityToSell").val("");

            $("#SelectedCategoryId").on("change", function () {

                var categoryId = $(this).val();
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: categoryId });
            });

            $("#productsPartial").on("click", ".product-row", function () {
                $(".product-row").removeClass("highlight");

                // Removing product details on any change in product rows
                $("#productDetailsPartial").remove();

                $(this).addClass("highlight");

                // Convert productId to an integer
                var productId = $(this).attr('product-id');

                console.log(productId);

                $("#productDetailsPartial").load("/Products/SellProductPartial", { productId: productId });

                if (productId > 0) {
                    $("#SelectedProductId").val(productId);
                    $("#formSale").show();
                    console.log("showing formsale");
                } else {
                    $("#SelectedProductId").val("");
                    $("#formSale").hide();
                }

            });
        });
    </script>
}
